#Remove this line before deploying
_____REMOVE_THIS_LINE_____=True

# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "1843854937:AAGY2KETnCDNqfQ_koqqTix9gWcCd3mLMWg"
GDRIVE_FOLDER_ID = "1zzfsp2AL4p-eskO3YBkZvWH3_3ph7VUZ"
OWNER_ID =1780200499
DOWNLOAD_DIR = "/home/username/mirror-bot/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = -1
IS_TEAM_DRIVE = "True"
TELEGRAM_API =5933932
TELEGRAM_HASH = "7ef16f78d2b231362559645df2c86aca"
USE_SERVICE_ACCOUNTS = ""

# Optional config
AUTHORIZED_CHATS = "" #Separated by space
IGNORE_PENDING_REQUESTS = ""
INDEX_URL = "https://comfeegang.atharv2951.workers.dev/0:"
MEGA_KEY = "pORS1DLY"
MEGA_USERNAME = "atharv2951@gmail.com"
MEGA_PASSWORD = "atharvnegi2"
BLOCK_MEGA_LINKS = ""
SHORTENER = ""
SHORTENER_API = ""

# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = ""
BUTTON_THREE_URL = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
